# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.vite
/frontend/.env
/frontend/.env.local
/frontend/.env.production

# Backend
/backend/vendor
/backend/node_modules
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/storage/*.key
/backend/storage/app/*
!/backend/storage/app/.gitignore
/backend/storage/framework/cache/*
!/backend/storage/framework/cache/.gitignore
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitignore
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitignore
/backend/storage/logs/*
!/backend/storage/logs/.gitignore
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
